In [1]:
import pandas as pd

In [5]:
df_factor_PCR = pd.read_excel('/Users/tommylxt/Desktop/算法交易hw/相关系数/df_factor_PCR.xlsx')
df_factor_basis = pd.read_excel('/Users/tommylxt/Desktop/算法交易hw/相关系数/df_factor_basis.xlsx')
df_factor_CV_Skew = pd.read_excel('/Users/tommylxt/Desktop/算法交易hw/相关系数/df_factor_CV_Skew.xlsx')
df_factor_CV_Skew.head()

   Unnamed: 0   datetime   CV_Skew
0           0 2019-02-21  0.006700
1           1 2019-02-22  0.029064
2           2 2019-02-26  0.047170
3           3 2019-02-27  0.035824
4           4 2019-02-28  0.049422

In [3]:
df_factor_PCR.head()

   Unnamed: 0   datetime  put_call_ratio_volume
0           0 2020-02-27               0.959908
1           1 2020-02-28               1.262164
2           2 2020-03-02               0.862330
3           3 2020-03-03               0.767432
4           4 2020-03-04               1.036388

In [4]:
df_factor_basis.head()

   Unnamed: 0   datetime  沪深300年化基差
0           0 2020-01-15   0.024393
1           1 2020-01-16   0.025809
2           2 2020-01-17   0.030119
3           3 2020-01-20   0.012321
4           4 2020-01-21   0.013962

In [10]:
df = df_factor_PCR[['datetime', 'put_call_ratio_volume']]
df = pd.merge(df, df_factor_CV_Skew[['datetime', 'CV_Skew']], on='datetime', how='left')
df = pd.merge(df, df_factor_basis[['datetime', '沪深300年化基差']], on='datetime', how='left')
df = df.drop(columns=['datetime'])
df.head()

   put_call_ratio_volume   CV_Skew  沪深300年化基差
0               0.959908  0.009440  -0.024727
1               1.262164  0.016963  -0.028168
2               0.862330  0.007678  -0.013313
3               0.767432  0.027250  -0.040792
4               1.036388  0.005192  -0.059849

In [11]:
correlation_matrix = df.corr()
print(correlation_matrix)

                       put_call_ratio_volume   CV_Skew  沪深300年化基差
put_call_ratio_volume               1.000000 -0.061223  -0.120906
CV_Skew                            -0.061223  1.000000   0.326520
沪深300年化基差                          -0.120906  0.326520   1.000000